﻿
@{
	Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}
<header id="head" class="secondary"></header>
<div class="container">

	<ol class="breadcrumb">
		<li><a href="/home">Главная</a></li>
		<li class="active">О сервисе</li>
	</ol>

	<div class="row">

		<!-- Article main content -->
		<article class="col-sm-8 maincontent">
			<header class="page-header">
				<h1 class="page-title">О сервисе</h1>
			</header>
			<h3>Категории, компании, контакты</h3>
			<p><img src="~/assets/images/main.jpg" alt="" class="img-rounded pull-right" width="400">Добавляйте любое количество категорий, компаний, контактов. Удобные поисковые фильтры позволят быстро найти необходимый контакт или компанию.</p>
			<h3>Почта, рассылки, шаблоны</h3>
			<p>Отправляйте сообщения прямо из сервиса, создавайте свои шаблоны писем для компаний или категории. Почтовая рассылка контактам по компаниям или целым категориям - теперь доступна в один клик. </p>
			<p>Опция отслеживания открытия письма позволит определить - было ли прочитано отправленное письмо.</p>
			<h3>Проекты, задачи, нотификации</h3>
			<p><img src="~/assets/images/project.jpg" alt="" class="img-rounded pull-right" width="400">Создавайте проекты, сделки, добавляйте различные события. Каждому проекту назначайте статусы, которые могут быть точно настроены вручную и следите за всем циклом работ по проекту.</p>
			<p>Удобный календарь поможет вам не забыть ни об одном важном событии.</p>
			<h3>Аналитика с элементами искусственного интеллекта</h3>
			<p> Как только ваш аккаунт будет заполнен достаточно для создания и обучения моделей машинного обучения у вас появиться уникальная возможность использовать предиктивные и рекомендательные модели для прогнозирования успешных проектов в будущем.</p>


		</article>
		<!-- /Article -->
		<!-- Sidebar -->
		<aside class="col-sm-4 sidebar sidebar-right">

			@*<div class="widget">
				<h4>Vacancies</h4>
				<ul class="list-unstyled list-spaces">
					<li><a href="">Lorem ipsum dolor</a><br><span class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, laborum.</span></li>
					<li><a href="">Totam, libero, quis</a><br><span class="small text-muted">Suscipit veniam debitis sed ipsam quia magnam eveniet perferendis nisi.</span></li>
					<li><a href="">Enim, sequi dignissimos</a><br><span class="small text-muted">Reprehenderit illum quod unde quo vero ab inventore alias veritatis.</span></li>
					<li><a href="">Suscipit, consequatur, aut</a><br><span class="small text-muted">Sed, mollitia earum debitis est itaque esse reiciendis amet cupiditate.</span></li>
					<li><a href="">Nam, illo, veritatis</a><br><span class="small text-muted">Delectus, sapiente illo provident quo aliquam nihil beatae dignissimos itaque.</span></li>
				</ul>
			</div>*@

		</aside>
		<!-- /Sidebar -->

	</div>
</div>	