﻿
@{
	Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}



<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">

	<ol class="breadcrumb">
		<li><a href="index.html">Главная</a></li>
		<li class="active">Контакты</li>
	</ol>

	<div class="row">

		<!-- Article main content -->
		<article class="col-sm-9 maincontent">
			<header class="page-header">
				<h1 class="page-title">Напишите нам</h1>
			</header>

			<p>
				Если у вас возникли какие-либо вопросы, пожелания и предложения, пишите нам на <a href="mailto:hello@statanly.com">hello@statanly.com</a> или задайте свой вопрос используя форму обратной связи:
			</p>
			<br>
			<form>
				<div class="row">
					<div class="col-sm-4">
						<input class="form-control" type="text" placeholder="Имя">
					</div>
					<div class="col-sm-4">
						<input class="form-control" type="text" placeholder="Почта">
					</div>
					<div class="col-sm-4">
						<input class="form-control" type="text" placeholder="Телефон">
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-12">
						<textarea placeholder="Ваш вопрос..." class="form-control" rows="9"></textarea>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-6">
						<label class="checkbox"><input type="checkbox"> Подписаться на новости сервиса</label>
					</div>
					<div class="col-sm-6 text-right">
						<input class="btn btn-action" type="submit" value="Отправить">
					</div>
				</div>
			</form>

		</article>
		<!-- /Article -->
		<!-- Sidebar -->
		<aside class="col-sm-3 sidebar sidebar-right">

			<div class="widget">
				<h4>Наш адрес:</h4>
				<address>
					Россия, Санкт-Петербург, Биржевая линия 16, ТЕХНОПАРК
				</address>
				<h4>Телефон:</h4>
				<address>
					+7-921-875-23-96
				</address>
				<h4>Почта:</h4>
				<address>
					<a href="mailto:hello@statanly.com">hello@statanly.com</a>
				</address>
				<h4>Компания:</h4>
				<address>
					<a href="http://statanly.com/">Statanly Technologies</a>
				</address>
			</div>
		</aside>
		<!-- /Sidebar -->

	</div>
</div>	<!-- /container -->

<section class="container-full top-space">
	<div id="map"></div>
</section>

<!-- Social links. replace by link/instructions in template -->
<section id="social">
	<div class="container">
		<div class="wrapper clearfix">
			<!-- AddThis Button BEGIN -->
			<div class="addthis_toolbox addthis_default_style">
				<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				<a class="addthis_button_tweet"></a>
				<a class="addthis_button_linkedin_counter"></a>
				<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
			</div>
			<!-- AddThis Button END -->
		</div>
	</div>
</section>
<!-- /social links -->
