﻿
@{
	Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

	<!-- Fixed navbar -->
	<!-- /.navbar -->
	<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead">Бесплатная CRM с элементами искусственного интеллекта для ведения клиентской базы, рассылок и проектов</h1>
				<p class="tagline">Простая CRM для ведения базы данных компаний и сотрудников</p>
				<p><a href="/home/about" class="btn btn-default btn-lg" role="button">Подробнее</a> @*<a class="btn btn-action btn-lg" role="button">DOWNLOAD NOW</a>*@</p>
			</div>
		</div>
	</header>
	<!-- /Header -->
	<!-- Intro -->
	<div class="container text-center">
		<br> <br>
			 <h2 class="thin">Простая CRM для ведения базы данных компаний и сотрудников</h2>
		<p class="text-muted">
			Создавайте сколько угодно категорий и сфер деятельности, добавляйте компании, сотрудников. Добавляйте сделки и проекты. Управляйте рассылками, отслеживайте открытие отосланных писем.
		</p>
	</div>
	<!-- /Intro-->
	<!-- Highlights - jumbotron -->
	<div class="jumbotron top-space">
		<div class="container">

			<h3 class="text-center thin">С MailChed ведение клиентской базы, компаний и проектов станет гораздо проще</h3>

			<div class="row">
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-cogs fa-5"></i>Компании и сотрудники</h4></div>
					<div class="h-body text-center">
						<p> Создавайте сколько угодно категорий и добавляйте любое количество компаний</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-flash fa-5"></i>Категории и направления</h4></div>
					<div class="h-body text-center">
						<p>Устанавливайте различные статусы сотрудникам компаний </p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-heart fa-5"></i>Рассылки и статусы</h4></div>
					<div class="h-body text-center">
						<p>Управляйте рассылками и отслеживайте открытые и прочитанные письма</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>Напоминания и нотификации</h4></div>
					<div class="h-body text-center">
						<p>Получайте напоминания о ключевых сотрудниках, которым необходимо написать</p>
					</div>
				</div>			
			</div> <!-- /row  -->

		</div>
	</div>
	<!-- /Highlights -->
	<!-- container -->
	<div class="container">

		<h2 class="text-center top-space">Часто задаваемые вопросы</h2>
		<br>

		<div class="row">
			<div class="col-sm-6">
				<h3>Бесплатно ли использование CRM?</h3>
				<p>Да, весь функционал сервиса абсолютно бесплатен</p>
			</div>
			<div class="col-sm-6">
				<h3>Сколько компаний и категорий можно добавлять в базу?</h3>
				<p>
					Количество категорий и компаний, а также сотрудников - неограничено
				</p>
			</div>
		</div> <!-- /row -->

		<div class="row">
			<div class="col-sm-6">
				<h3>Возможна ли интеграция CRM с существующим почтовым ящиком?</h3>
				<p>
					Да, вы можете установить в качестве почты - свою собственную
				</p>
			</div>
			<div class="col-sm-6">
				<h3>Как сервис понимает, что человек, которому отправили письмо - открыл и прочитал его?</h3>
				<p>В случае использования опции отслеживания статуса письма - в письмо автоматически включается невидимый пиксель, который и позволяет понять, когда письмо было открыто</p>
			</div>
		</div> <!-- /row -->

		<div class="jumbotron top-space">
			<h4>MailChed - простая и удобная CRM для ведения и рассылок сотрудникам компаний</h4>
			<p class="text-right"><a href="/home/about" class="btn btn-primary btn-large">Подробнее »</a></p>
		</div>

	</div>	<!-- /container -->
	<!-- Social links. replace by link/instructions in template -->
	<section id="social">
		<div class="container">
			<div class="wrapper clearfix">
				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style">
					<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
					<a class="addthis_button_tweet"></a>
					<a class="addthis_button_linkedin_counter"></a>
					<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
				</div>
				<!-- AddThis Button END -->
			</div>
		</div>
	</section>
	<!-- /social links -->



