﻿@{
	ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000" style="margin-top: 20px">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<li data-target="#myCarousel" data-slide-to="3"></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<img src="~/images/banner1.jpg" alt="ASP.NET" class="img-responsive" />
			<div class="carousel-caption" role="option">
				<p>
					МАРКЕТИНГ
					@*<a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
							Learn More
						</a>*@
				</p>
			</div>
		</div>
		<div class="item">
			<img src="~/images/banner1.jpg" alt="Visual Studio" class="img-responsive" />
			<div class="carousel-caption" role="option">
				<p>
					БАЗА ДАННЫХ КЛИЕНТОВ
					@*<a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
							Learn More
						</a>*@
				</p>
			</div>
		</div>
		<div class="item">
			<img src="~/images/banner1.jpg" alt="Package Management" class="img-responsive" />
			<div class="carousel-caption" role="option">
				<p>
					РАССЫЛКИ
					@*<a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
							Learn More
						</a>*@
				</p>
			</div>
		</div>
		<div class="item">
			<img src="~/images/banner1.jpg" alt="Microsoft Azure" class="img-responsive" />
			<div class="carousel-caption" role="option">
				<p>
					ПРОСТОЕ И УДОБНОЕ ПРИЛОЖЕНИЯ ДЛЯ ВЕДЕНИЯ КЛИЕНТСКОЙ БАЗЫ
					@*<a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
							Learn More
						</a>*@
				</p>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Предыдущая</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Следующая</span>
	</a>

</div>
<div style="margin-top: 20px">
	<ol class="list-counter-circle">
		<li>Создавайте сколько угодно категорий и добавляйте любое количество компаний</li>
		<li>Устанавливайте различные статусы сотрудникам компаний</li>
		<li>Управляйте рассылками и отслеживайте открытые и прочитанные письма</li>
		<li>Получайте напоминания о ключевых сотрудниках, которым необходимо написать</li>
		<li>Управляйте всей базой потенциальных клиентов и ключевых лиц компаний</li>
	</ol>
</div>
<style>
	/* CSS */
	.list-counter-circle {
		list-style: none;
		counter-reset: list;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

		.list-counter-circle > li {
			position: relative;
			display: block;
			height: 4rem;
			line-height: 4rem;
			margin-left: 1.75rem;
			margin-bottom: .25rem;
			padding-left: 1rem;
			padding-right: .5rem;
			color: #fff;
			background: #A9A9A9;
			white-space: nowrap;
			border-radius: .45rem
		}

			.list-counter-circle > li:last-child {
				margin-bottom: 0;
			}

			.list-counter-circle > li::before {
				content: counter(list);
				counter-increment: list;
				position: absolute;
				left: -2rem;
				top: -.25rem;
				bottom: -.25rem;
				width: 2.5rem;
				line-height: 2rem;
				border-radius: 1.25rem;
				border: .25rem solid #fff;
				text-align: center;
				color: #fff;
				background: #A9A9A9;
			}
</style>

@*<div class="row">
		<div class="col-md-3">
			<h2>Application uses</h2>
			<ul>
				<li>Sample pages using ASP.NET Core MVC</li>
				<li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
			</ul>
		</div>
		<div class="col-md-3">
			<h2>How to</h2>
			<ul>
				<li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
				<li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
				<li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
				<li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
				<li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
			</ul>
		</div>
		<div class="col-md-3">
			<h2>Overview</h2>
			<ul>
				<li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
				<li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
				<li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
				<li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
				<li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
				<li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
				<li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
			</ul>
		</div>
		<div class="col-md-3">
			<h2>Run &amp; Deploy</h2>
			<ul>
				<li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
				<li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
				<li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
			</ul>
		</div>
	</div>*@
