﻿@model AdtMailer.Infrastructure.Models.CompanyViewModels.CategoryViewModel
@using AdtMailer.Infrastructure.Models.CompanyViewModels
@using AdtMailer.DataTransferObject.Enums
@{
	ViewData["Title"] = "UpdateCategory";
	Layout = "~/Views/Shared/_LayoutFeed.cshtml";
	var companies = ViewBag.Companies;
}

<h4>Категория: <a href="/company/companies/@Model.Id"> @Model.Name </a></h4>
<div>
	<a asp-action="Index">К списку категорий</a>
</div>
<div class="row">
	<a href="#" type="button" class="btn btn-success" style="margin-top: 5px">Создать рассылку</a>
</div>
<hr />
<div class="row">
	<div class="col-md-6">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group" style="display: none">
				<label asp-for="Id" class="control-label"></label>
				<input asp-for="Id" class="form-control" />
				<span asp-validation-for="Id" class="text-danger"></span>
			</div>
			<div class="form-group" style="display: none">
				<label asp-for="ApplicationUserId" class="control-label"></label>
				<input asp-for="ApplicationUserId" class="form-control" />
				<span asp-validation-for="ApplicationUserId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Name" class="control-label">Название</label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label">Примечание</label>
				<textarea asp-for="Description" rows="3" class="form-control"></textarea>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<div class="row">
					<input type="submit" value="Сохранить" class="btn btn-default" />
					<a style="margin-left: 10px" href="/category/delete/@Model.Id" type="button" class="btn btn-danger">Удалить</a>
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-6">

		@try
		{
			@if (ViewBag.Companies != null && ((List<CompanyViewModel>)ViewBag.Companies).Any())
			{
				<table class="table table-striped table-hover">
					<tbody>
						<tr>
							<th>
								Компании
							</th>
							<th>
								Описание
							</th>
							<th>
								<a href="/company/AddCompany/@Model.Id" type="button" class="btn btn-success">Добавить</a>
							</th>

						</tr>
						@foreach (var item in (IEnumerable<AdtMailer.Infrastructure.Models.CompanyViewModels.CompanyViewModel>)companies)
						{
							<tr>
								<td><a href="/company/edit/@item.Id">@Html.DisplayFor(modelItem => item.Name)</a></td>
								<td>@(item.Description?.Length > 20 ? item.Description.Substring(0, 20) + "..." : item.Description)</td>
								<td>@Html.ActionLink("Сотрудники", "Index", "Contact", new { id = item.Id }) </td>
							</tr>
						}

					</tbody>
				</table>
			}
			else
			{
				<p>Пока не добавлено ни одной компании</p>
			}
		}
		catch (Exception ex)
		{
			<p>Пока не добавлено ни одной компании</p>
		}

	</div>
</div>



