﻿@model IEnumerable<AdtMailer.Infrastructure.Models.CompanyViewModels.CategoryViewModel>
@using AdtMailer.Infrastructure.Models.CompanyViewModels
@{
	ViewData["Title"] = "Index";
	Layout = "_LayoutFeed";
}

<div class="row">
	<div class="col-md-6">
		<div class="row">
			<h2 style="margin-right: 10px">Категории</h2>
			<a href="/category/create" type="button" class="btn btn-success" style="margin-top: 5px">Добавить</a>
		</div>
	</div>
	<div class="col-md-6">
		<div class="row">
			<h2 style="margin-right: 10px">Компании</h2>
			<a href="/company/addcompany" type="button" class="btn btn-success" style="margin-top: 5px">Добавить</a>
		</div>
	 </div>
</div>
<div class="row" style="margin-top: 5px">
	<div class="col-md-6">
		<table class="table table-striped table-hover">
			<thead>
				<tr>		
					<th>
						Название
					</th>
					<th>
						Описание
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@Html.ActionLink(item.Name, "Companies", "Company", new { id = item.Id })
						</td>
						<td>
							@(item.Description?.Length > 20 ? item.Description.Substring(0, 20) + "..." : item.Description)
						</td>
						<td>
							<a href="/category/edit/@item.Id" >Открыть</a> |
							@Html.ActionLink("Удалить", "Delete", new { id = item.Id })
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		@try
		{
			@if (ViewBag.Companies != null && ((List<CompanyViewModel>)ViewBag.Companies).Any())
			{
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>
						Название
					</th>
					<th>
						Сайт
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in (IEnumerable<AdtMailer.Infrastructure.Models.CompanyViewModels.CompanyViewModel>)ViewBag.Companies)
				{
				<tr>
					<td><a href="/contact/index/@item.Id">@Html.DisplayFor(modelItem => item.Name)</a></td>
					<td><a href=@item.Site> @item.Site</a></td>	
					<td>
						<a href="/company/edit/@item.Id">Открыть</a> |
						@Html.ActionLink("Удалить", "Delete","Company", new { id = item.Id })
					</td>
				</tr>
				}

			</tbody>
		</table>
			}
			else
			{
				<p>Пока не добавлено ни одной компании</p>


			}
		}
		catch (Exception ex)
		{
			<p>Пока не добавлено ни одной компании</p>
		}
	</div>
</div>
