﻿@model AdtMailer.Web.Models.ErrorViewModel

@{
	ViewData["Title"] = "Error";
	Layout = "~/Views/Shared/_LayoutFeed.cshtml";
}

<h3 style="color: red">@Model.Message</h3>

<hr />

<div>
	<a href="feed/Index">На главную</a>
</div>

