﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
	ViewData["Title"] = "Log in";
	Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

<div class="jumbotron top-space">
	
	<div class="container">
		<h3>Вход</h3>
		<div class="row">
			<div class="col-md-4">
				<section>
					<form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
						<h4>Введите ваши логин и пароль</h4>
						<hr />
						<div asp-validation-summary="All" class="text-danger"></div>
						<div class="form-group">
							<label asp-for="Email">Почта</label>
							<input asp-for="Email" class="form-control" />
							<span asp-validation-for="Email" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Password">Пароль</label>
							<input asp-for="Password" class="form-control" />
							<span asp-validation-for="Password" class="text-danger"></span>
						</div>
						<div class="form-group">
							<div class="checkbox">
								<label asp-for="RememberMe">
									<input asp-for="RememberMe" />
									@*@Html.DisplayNameFor(m => m.RememberMe)*@
									Запомнить меня
								</label>
							</div>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-default">Войти</button>
						</div>
						<div class="form-group">
							<p>
								<a asp-action="ForgotPassword">Забыли пароль?</a>
							</p>
							<p>
								<a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Создать нового пользователя?</a>
							</p>
						</div>
					</form>
				</section>
			</div>
		</div>
	</div>
</div>
<section id="social">
	<div class="container">
		<div class="wrapper clearfix">
			<!-- AddThis Button BEGIN -->
			<div class="addthis_toolbox addthis_default_style">
				<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				<a class="addthis_button_tweet"></a>
				<a class="addthis_button_linkedin_counter"></a>
				<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
			</div>
			<!-- AddThis Button END -->
		</div>
	</div>
</section>


