﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
	ViewData["Title"] = "Log in";
	Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}
<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">

	<ol class="breadcrumb">
		<li><a href="/home">Главная</a></li>
		<li class="active">Вход</li>
	</ol>

	<div class="row">

		<!-- Article main content -->
		<article class="col-xs-12 maincontent">
			<header class="page-header">
				<h1 class="page-title">Вход</h1>
			</header>

			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3 class="thin text-center">Войти</h3>
						<p class="text-center text-muted">Войдите в свою учетную запись пользователя или, <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">зарегистрируйте</a> нового пользователя или компанию </p>
						<hr>			

						<form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
							<h4>Введите ваши логин и пароль</h4>
							<hr />
							<div asp-validation-summary="All" class="text-danger"></div>
							<div class="form-group">
								<label asp-for="Email">Почта</label>
								<input asp-for="Email" class="form-control" />
								<span asp-validation-for="Email" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Password">Пароль</label>
								<input asp-for="Password" class="form-control" />
								<span asp-validation-for="Password" class="text-danger"></span>
							</div>
							<div class="form-group">
								<div class="checkbox">
									<label asp-for="RememberMe">
										<input asp-for="RememberMe" />
										@*@Html.DisplayNameFor(m => m.RememberMe)*@
										Запомнить меня
									</label>
								</div>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-action">Войти</button>
							</div>
							<div class="form-group">
								<p>
									<a asp-action="ForgotPassword">Забыли пароль?</a>
								</p>
								<p>
									<a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Создать нового пользователя?</a>
								</p>
							</div>
						</form>
					</div>
				</div>

			</div>

		</article>
		<!-- /Article -->

	</div>
</div>	<!-- /container -->
