﻿@model AdtMailer.Infrastructure.Models.SettingsViewModels.SettingsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutFeed.cshtml";
}


<h4>Настройка</h4>
<hr />
<div class="row">
    <div class="col-md-4">
		<form asp-action="Update">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group" style="display: none">
				<label asp-for="Id" class="control-label"></label>
				<input asp-for="Id" class="form-control" />
				<span asp-validation-for="Id" class="text-danger"></span>
			</div>
			<div class="form-group" style="display: none">
				<label asp-for="ApplicationUserId" class="control-label"></label>
				<input asp-for="ApplicationUserId" class="form-control" />
				<span asp-validation-for="ApplicationUserId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="FirstName" class="control-label">Имя</label>
				<input asp-for="FirstName" class="form-control" />
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="SecondName" class="control-label">Фамилия</label>
				<input asp-for="SecondName" class="form-control" />
				<span asp-validation-for="SecondName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="EmailSettings.Email" class="control-label">Почта</label>
				<input asp-for="EmailSettings.Email" class="form-control" />
				<span asp-validation-for="EmailSettings.Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="EmailSettings.Password" class="control-label">Пароль</label>
				<input asp-for="EmailSettings.Password" type="password" class="form-control" />
				<span asp-validation-for="EmailSettings.Password" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label>Служба электронной почты</label>
				<select name="EmailSettings.MailHost" class="form-control">
					<option value="0" selected>Yandex</option>
					<option value="1">Google</option>
					<option value="2">Mail</option>
				</select>
			</div>
			<div class="form-group">
				<input type="submit" value="Сохранить" class="btn btn-default" />
			</div>
		</form>
    </div>
</div>



