﻿@model AdtMailer.Infrastructure.Models.SettingsViewModels.EmailSettingsViewModel

@{
	ViewData["Title"] = "Index";
	Layout = "_LayoutFeed";
}

<h3>Настройки</h3>
<hr />
<div class="row">
    <div class="col-md-4">
		<form asp-action="UpdateSettings">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Email" class="control-label">Почта</label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Password" class="control-label">Пароль</label>
				<input asp-for="Password" type="password" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label>Служба электронной почты</label>
				<select name="MailHost" class="form-control">
					<option value="0" selected>Yandex</option>
					<option value="1">Google</option>
					<option value="2">Mail</option>
				</select>
			</div>
			<div class="form-group">
				<input type="submit" value="Сохранить" class="btn btn-default" />
			</div>
		</form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Назад</a>
</div>*@

