﻿
@{
	Layout = null;
}
@using Microsoft.AspNetCore.Identity
@using AdtMailer.Domain.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="shortcut icon" href="~/assets/images/gt_favicon.png">
	<title>Application mc</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Font Awesome -->
	<script src="~/plugins/jquery/jquery.min.js"></script>
	<link rel="stylesheet" href="~/plugins/font-awesome/css/font-awesome.min.css">
	<!-- Ionicons -->
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="~/dist/css/adminlte.min.css">
	<!-- iCheck -->
	<link rel="stylesheet" href="~/plugins/iCheck/flat/blue.css">
	<!-- Morris chart -->
	<link rel="stylesheet" href="~/plugins/morris/morris.css">
	<!-- jvectormap -->
	<link rel="stylesheet" href="~/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
	<!-- Date Picker -->
	<link rel="stylesheet" href="~/plugins/datepicker/datepicker3.css">
	<!-- Daterange picker -->
	<link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker-bs3.css">
	<!-- bootstrap wysihtml5 - text editor -->
	<link rel="stylesheet" href="~/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
	<!-- Google Font: Source Sans Pro -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
	<link rel="stylesheet" href="~/plugins/fullcalendar/fullcalendar.min.css">
	<link rel="stylesheet" href="~/plugins/fullcalendar/fullcalendar.print.css" media="print">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>
<body class="hold-transition sidebar-mini">
	<div class="wrapper">
		<!-- Navbar -->
		<nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
			<!-- Left navbar links -->
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
				</li>
				<li class="nav-item d-none d-sm-inline-block">
					<a href="/feed" class="nav-link">Главная</a>
				</li>
				@*<li class="nav-item d-none d-sm-inline-block">
						<a href="#" class="nav-link">Contact</a>
					</li>*@
			</ul>
			<!-- SEARCH FORM -->
			@*<form class="form-inline ml-3">
					<div class="input-group input-group-sm">
						<input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
						<div class="input-group-append">
							<button class="btn btn-navbar" type="submit">
								<i class="fa fa-search"></i>
							</button>
						</div>
					</div>
				</form>*@
			<!-- Right navbar links -->
			<ul class="navbar-nav ml-auto">
				<!-- Messages Dropdown Menu -->
				<li class="nav-item dropdown">
					<a class="nav-link" data-toggle="dropdown" href="/notification">
						<i class="fa fa-comments-o"></i>
						@*<span class="badge badge-danger navbar-badge">3</span>*@
					</a>
				</li>
				<li class="nav-item d-none d-sm-inline-block">
					@*<a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">@UserManager.GetUserName(User)</a>*@
					<a asp-controller="Manage" asp-action="Index" title="Manage" class="nav-link">@UserManager.GetUserName(User)</a>
				</li>

				<li class="nav-item d-none d-sm-inline-block">
					<a href="/account/logout" class="nav-link">Выйти</a>
				</li>
			</ul>
		</nav>
		<!-- /.navbar -->
		<!-- Main Sidebar Container -->
		<aside class="main-sidebar sidebar-dark-primary elevation-4">
			<!-- Brand Logo -->
			<a href="/feed" class="brand-link">
				@*<img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
					style="opacity: .8">*@
				<span class="brand-text font-weight-light">MailChed</span>
			</a>
			<!-- Sidebar -->
			<div class="sidebar">
				<!-- Sidebar user panel (optional) -->
				<!-- Sidebar Menu -->
				<nav class="mt-2">
					<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
						<!-- Add icons to the links using the .nav-icon class
						with font-awesome or any other icon font library -->
						<li class="nav-item">
							<a href="/category" class="nav-link">
								<i class="nav-icon fa fa-th"></i>
								<p>
									Компании
									@*<span class="right badge badge-danger">New</span>*@
								</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="/contact/all" class="nav-link">
								<i class="nav-icon fa fa-plus-square-o"></i>
								<p>
									Контакты
									@*<span class="right badge badge-danger"><a href="/contact/addcontact">+</a></span>*@
								</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="/project" class="nav-link">
								<i class="nav-icon fa fa-book"></i>
								<p>
									Проекты
									@*<span class="right badge badge-danger">New</span>*@
								</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="/message" class="nav-link">
								<i class="nav-icon fa fa-envelope-o"></i>
								<p>
									Письма
									@*<span class="right badge badge-danger">New</span>*@
								</p>
							</a>
						</li>
						@*<li class="nav-item has-treeview">
							<a href="/message" class="nav-link">
								<i class="nav-icon fa fa-table"></i>
								<p>
									Шаблоны
								</p>
							</a>
						</li>*@
						<li class="nav-item">
							<a href="/task" class="nav-link">
								<i class="nav-icon fa fa-edit"></i>
								<p>
									Задачи
									@*<span class="right badge badge-danger">New</span>*@
								</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="/calendar" class="nav-link">
								<i class="nav-icon fa fa-calendar"></i>
								<p>
									Календарь
									@*<span class="badge badge-info right">2</span>*@
								</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="/settings" class="nav-link">
								<i class="nav-icon fa fa-pie-chart"></i>
								<p>
									Настройки
									@*<span class="right badge badge-danger">New</span>*@
								</p>
							</a>
						</li>
						@*<<li class="nav-item has-treeview">
								<a href="#" class="nav-link">
									<i class="nav-icon fa fa-pie-chart"></i>
									<p>
										Charts
										<i class="right fa fa-angle-left"></i>
									</p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a href="pages/charts/chartjs.html" class="nav-link">
											<i class="fa fa-circle-o nav-icon"></i>
											<p>ChartJS</p>
										</a>
									</li>
									<li class="nav-item">
										<a href="pages/charts/flot.html" class="nav-link">
											<i class="fa fa-circle-o nav-icon"></i>
											<p>Flot</p>
										</a>
									</li>
									<li class="nav-item">
										<a href="pages/charts/inline.html" class="nav-link">
											<i class="fa fa-circle-o nav-icon"></i>
											<p>Inline</p>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item has-treeview">
								<a href="#" class="nav-link">
									<i class="nav-icon fa fa-tree"></i>
									<p>
										UI Elements
										<i class="fa fa-angle-left right"></i>
									</p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a href="pages/UI/general.html" class="nav-link">
											<i class="fa fa-circle-o nav-icon"></i>
											<p>General</p>
										</a>
									</li>
									<li class="nav-item">
										<a href="pages/UI/icons.html" class="nav-link">
											<i class="fa fa-circle-o nav-icon"></i>
											<p>Icons</p>
										</a>
									</li>
									<li class="nav-item">
										<a href="pages/UI/buttons.html" class="nav-link">
											<i class="fa fa-circle-o nav-icon"></i>
											<p>Buttons</p>
										</a>
									</li>
									<li class="nav-item">
										<a href="pages/UI/sliders.html" class="nav-link">
											<i class="fa fa-circle-o nav-icon"></i>
											<p>Sliders</p>
										</a>
									</li>
								</ul>
							</li>
							li class="nav-item has-treeview">
								<a href="#" class="nav-link">
									<i class="nav-icon fa fa-edit"></i>
									<p>
										Forms
										<i class="fa fa-angle-left right"></i>
									</p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a href="pages/forms/general.html" class="nav-link">
											<i class="fa fa-circle-o nav-icon"></i>
											<p>General Elements</p>
										</a>
									</li>
									<li class="nav-item">
										<a href="pages/forms/advanced.html" class="nav-link">
											<i class="fa fa-circle-o nav-icon"></i>
											<p>Advanced Elements</p>
										</a>
									</li>
									<li class="nav-item">
										<a href="pages/forms/editors.html" class="nav-link">
											<i class="fa fa-circle-o nav-icon"></i>
											<p>Editors</p>
										</a>
									</li>
								</ul>
							</li>*@
						@*<li class="nav-item has-treeview">
								<a href="#" class="nav-link">
									<i class="nav-icon fa fa-table"></i>
									<p>
										Tables
										<i class="fa fa-angle-left right"></i>
									</p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a href="pages/tables/simple.html" class="nav-link">
											<i class="fa fa-circle-o nav-icon"></i>
											<p>Simple Tables</p>
										</a>
									</li>
									<li class="nav-item">
										<a href="pages/tables/data.html" class="nav-link">
											<i class="fa fa-circle-o nav-icon"></i>
											<p>Data Tables</p>
										</a>
									</li>
								</ul>
							</li>*@
						@*<li class="nav-header">EXAMPLES</li>
							<li class="nav-item">
								<a href="pages/calendar.html" class="nav-link">
									<i class="nav-icon fa fa-calendar"></i>
									<p>
										Calendar
										<span class="badge badge-info right">2</span>
									</p>
								</a>
							</li>
							<li class="nav-item has-treeview">
								<a href="#" class="nav-link">
									<i class="nav-icon fa fa-envelope-o"></i>
									<p>
										Mailbox
										<i class="fa fa-angle-left right"></i>
									</p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a href="pages/mailbox/mailbox.html" class="nav-link">
											<i class="fa fa-circle-o nav-icon"></i>
											<p>Inbox</p>
										</a>
									</li>
									<li class="nav-item">
										<a href="pages/mailbox/compose.html" class="nav-link">
											<i class="fa fa-circle-o nav-icon"></i>
											<p>Compose</p>
										</a>
									</li>
									<li class="nav-item">
										<a href="pages/mailbox/read-mail.html" class="nav-link">
											<i class="fa fa-circle-o nav-icon"></i>
											<p>Read</p>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item has-treeview">
								<a href="#" class="nav-link">
									<i class="nav-icon fa fa-book"></i>
									<p>
										Pages
										<i class="fa fa-angle-left right"></i>
									</p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a href="pages/examples/invoice.html" class="nav-link">
											<i class="fa fa-circle-o nav-icon"></i>
											<p>Invoice</p>
										</a>
									</li>
									<li class="nav-item">
										<a href="pages/examples/profile.html" class="nav-link">
											<i class="fa fa-circle-o nav-icon"></i>
											<p>Profile</p>
										</a>
									</li>
									<li class="nav-item">
										<a href="pages/examples/login.html" class="nav-link">
											<i class="fa fa-circle-o nav-icon"></i>
											<p>Login</p>
										</a>
									</li>
									<li class="nav-item">
										<a href="pages/examples/register.html" class="nav-link">
											<i class="fa fa-circle-o nav-icon"></i>
											<p>Register</p>
										</a>
									</li>
									<li class="nav-item">
										<a href="pages/examples/lockscreen.html" class="nav-link">
											<i class="fa fa-circle-o nav-icon"></i>
											<p>Lockscreen</p>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item has-treeview">
								<a href="#" class="nav-link">
									<i class="nav-icon fa fa-plus-square-o"></i>
									<p>
										Extras
										<i class="fa fa-angle-left right"></i>
									</p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a href="pages/examples/404.html" class="nav-link">
											<i class="fa fa-circle-o nav-icon"></i>
											<p>Error 404</p>
										</a>
									</li>
									<li class="nav-item">
										<a href="pages/examples/500.html" class="nav-link">
											<i class="fa fa-circle-o nav-icon"></i>
											<p>Error 500</p>
										</a>
									</li>
									<li class="nav-item">
										<a href="pages/examples/blank.html" class="nav-link">
											<i class="fa fa-circle-o nav-icon"></i>
											<p>Blank Page</p>
										</a>
									</li>
									<li class="nav-item">
										<a href="starter.html" class="nav-link">
											<i class="fa fa-circle-o nav-icon"></i>
											<p>Starter Page</p>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-header">MISCELLANEOUS</li>
							<li class="nav-item">
								<a href="https://adminlte.io/docs" class="nav-link">
									<i class="nav-icon fa fa-file"></i>
									<p>Documentation</p>
								</a>
							</li>
							<li class="nav-header">LABELS</li>
							<li class="nav-item">
								<a href="#" class="nav-link">
									<i class="nav-icon fa fa-circle-o text-danger"></i>
									<p class="text">Important</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link">
									<i class="nav-icon fa fa-circle-o text-warning"></i>
									<p>Warning</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link">
									<i class="nav-icon fa fa-circle-o text-info"></i>
									<p>Informational</p>
								</a>
							</li>*@
					</ul>
				</nav>
				<!-- /.sidebar-menu -->
			</div>
			<!-- /.sidebar -->
		</aside>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			@*<div class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-6">
								<h1 class="m-0 text-dark">Dashboard</h1>
							</div><!-- /.col -->
							<div class="col-sm-6">
								<ol class="breadcrumb float-sm-right">
									<li class="breadcrumb-item"><a href="#">Home</a></li>
									<li class="breadcrumb-item active">Dashboard v2</li>
								</ol>
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.container-fluid -->
				</div>*@
			<!-- /.content-header -->
			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<!-- Small boxes (Stat box) -->
					@RenderBody()
					<!-- /.row (main row) -->
				</div><!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<footer class="main-footer">
			<strong>Copyright &copy; @DateTime.Now.Year – MailChed Inc. The statanly design is a trademark of Statanly Technologies</strong>

			<div class="float-right d-none d-sm-inline-block">
				<b><a href="http://statanly.com/">statanly.com</a></b>
			</div>
		</footer>
		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->
	</div>
	<!-- ./wrapper -->
	<!-- jQuery -->

	@*<script src="~/plugins/jquery/jquery.min.js"></script>*@
	<!-- jQuery UI 1.11.4 -->
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
	<script>$.widget.bridge('uibutton', $.ui.button)</script>
	<!-- Bootstrap 4 -->
	<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- Morris.js charts -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="~/plugins/morris/morris.min.js"></script>
	<!-- Sparkline -->
	<script src="~/plugins/sparkline/jquery.sparkline.min.js"></script>
	<!-- jvectormap -->
	<script src="~/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
	<script src="~/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
	<!-- jQuery Knob Chart -->
	<script src="~/plugins/knob/jquery.knob.js"></script>
	<!-- daterangepicker -->
	@*<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
	<script src="~/plugins/daterangepicker/daterangepicker.js"></script>*@
	<!-- datepicker -->
	<script src="~/plugins/datepicker/bootstrap-datepicker.js"></script>
	<!-- Bootstrap WYSIHTML5 -->
	<script src="~/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
	<!-- Slimscroll -->
	<script src="~/plugins/slimScroll/jquery.slimscroll.min.js"></script>
	<!-- FastClick -->
	<script src="~/plugins/fastclick/fastclick.js"></script>
	<!-- AdminLTE App -->
	<script src="~/dist/js/adminlte.js"></script>
	<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
	<script src="~/dist/js/pages/dashboard.js"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="~/dist/js/demo.js"></script>
	<!-- fullCalendar 2.2.5 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
	<script src="~/plugins/fullcalendar/fullcalendar.min.js"></script>
</body>
</html >
