﻿
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="yandex-verification" content="1b0157cb38e6fe07" />
	<meta name="google-site-verification" content="BUWEj6OUIwlmUkxZ3tdBn5zteti1c1rilLFSm0SdPq8" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	@*<meta name="author" content="Sergey Pozhilov (GetTemplate.com)">*@

	<title>MailChed - Бесплатная CRM для ведения клиентской базы и проектов</title>

	<link rel="shortcut icon" href="~/assets/images/gt_favicon.png">

	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/assets/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="~/assets/css/bootstrap-theme.css" media="screen">
	<link rel="stylesheet" href="~/assets/css/main.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body class="home">
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom">
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="/home"><img src="~/assets/images/logo1.png" style="height: 50px; width: 160px " alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li class="active"><a href="/home">Главная</a></li>
					<li><a href="/home/about">О компании</a></li>
					@*<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">More Pages <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="sidebar-left.html">Left Sidebar</a></li>
								<li class="active"><a href="sidebar-right.html">Right Sidebar</a></li>
							</ul>
						</li>*@
					<li><a href="/home/contact">Контакты</a></li>
					@*<li><a class="btn" href="signin.html">SIGN IN / SIGN UP</a></li>*@
					<li><a class="btn" asp-controller="Account" asp-action="Register">Регистрация</a></li>
					<li><a class="btn" asp-controller="Account" asp-action="Login">Вход</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
	<!-- /.navbar -->


	@RenderBody()

	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">

					<div class="col-md-3 widget">
						<h3 class="widget-title">Контакты</h3>
						<div class="widget-body">
							<p>
								+7(921)-875-23-96<br>
								<a href="mailto:#">hello@statanly.com</a><br>
								<br>
								Россия, Санкт-Петербург, Биржевая линия 14
							</p>
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Следите за нами</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a href="https://twitter.com/statanly"><i class="fa fa-twitter fa-2"></i></a>
								<a href="https://www.facebook.com/statanly"><i class="fa fa-facebook fa-2"></i></a>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">MAilChed CRM</h3>
						<div class="widget-body">
							<p>Простая CRM для ведения базы данных компаний и сотрудников</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="#">Главаня</a> |
								<a href="#">О нас</a> |
								<a href="#">Контактыt</a> |
								<b><a asp-controller="Account" asp-action="Register">Регистрация</a></b> |
								<b><a asp-controller="Account" asp-action="Login">Вход</a></b>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2018, MailChed Inc. The statanly design is a trademark of <a href="http://statanly.com/">statanly.com</a>
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>

	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="~/assets/js/headroom.min.js"></script>
	<script src="~/assets/js/jQuery.headroom.min.js"></script>
	<script src="~/assets/js/template.js"></script>
</body>
</html>
