﻿@using AdtMailer.Web.Views.Manage
<div id="sideBar">
	<div class="navbar-collapse " id="collapse">
		<ul class="nav nav-pills nav-stacked">
			<li><a href="/company">Компании</a></li>
			<li><a href="/message">Письма</a></li>
			@*<li><a href="/template">Шаблоны</a></li>*@
			<li><a href="/notification">Нотификации</a></li>
			<li><a href="/settings">Настройки</a></li>
		</ul>
	</div>
</div>

<script>

</script>

<!--<div id="sidebar" class="col-xs-12 col-md-pull-1" style="margin-top:30px">-->
