﻿@using AdtMailer.Infrastructure.Models.CompanyViewModels
@using AdtMailer.DataTransferObject.Enums
@using System.Linq
@using AdtMailer.Web.Models.Entities;

@model AdtMailer.DataTransferObject.Filter
@{
	ViewData["Title"] = "Index";
	Layout = "_LayoutFeed";
	var companyDictionary = (Dictionary<string, string>)ViewBag.CompanyDictionary;
	var categoryDictionary = (Dictionary<string, string>)ViewBag.CategoryDictionary;

	var companies = new List<CompanyViewModel>() { new CompanyViewModel() { Id = "", Name = "Все" } };
	var categories = new List<CategoryViewModel>() { new CategoryViewModel() { Id = "", Name = "Все" } };
	//var statuses = new List<KeyValuePair<int?, string>>()
	//	{
	//		new KeyValuePair<int?, string>(-1, "Все"),
	//		new KeyValuePair<int?, string>(0, "Новый"),
	//		new KeyValuePair<int?, string>(1, "Контакт"),
	//		new KeyValuePair<int?, string>(2, "Сотрудничество"),
	//		new KeyValuePair<int?, string>(3, "Отклонен"),
	//		new KeyValuePair<int?, string>(4, "Архив"),
	//	};
	var statuses = new List<EntityPair>()
	{
		new EntityPair() { Id = null, Name = "Все" },
		new EntityPair() { Id = 0, Name = "Новый" },
			new EntityPair() { Id = 1, Name = "Переговоры" },
				new EntityPair() { Id = 2, Name = "Сотрудничество" },
					new EntityPair() { Id = 3, Name = "Отклонен" },
						new EntityPair() { Id = 4, Name = "Архив" },
	};
	var periods = new List<EntityPair>()
	{
		new EntityPair() { Id = 7, Name = "За неделю" },
		new EntityPair() { Id = 14, Name = "За две недели" },
			new EntityPair() { Id = 30, Name = "За месяц" },
				new EntityPair() { Id = 60, Name = "За три месяца" },
					new EntityPair() { Id = 180, Name = "За полгода" },
						new EntityPair() { Id = null, Name = "За все время" },
	};

	companies.AddRange(companyDictionary.Select(x => new CompanyViewModel() { Id = x.Key, Name = x.Value }));
	categories.AddRange(categoryDictionary.Select(x => new CategoryViewModel() { Id = x.Key, Name = x.Value }));

	var companySelectList = new SelectList(companies, "Id", "Name");
	var categorySelectList = new SelectList(categories, "Id", "Name");
	var statusSelectList = new SelectList(statuses, "Id", "Name");
	var periodsSelectList = new SelectList(periods, "Id", "Name");
}

<body>
	<div id="wrapper">
		<form asp-action="Index">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="row">
				<div class="col-md-2">
					<div class="form-group">
						<label asp-for="SortType" class="control-label">Сортировать</label>
						<select asp-for="SortType" asp-items="Html.GetEnumSelectList<SortType>()" class="form-control"></select>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label asp-for="Status" class="control-label">Статус</label>
						<select asp-for="Status" asp-items="@statusSelectList" class="form-control"></select>
					</div>
				</div>
				<div class="col-md-2">
					<label asp-for="CompanyId" class="control-label">Компания</label>
					<select asp-for="CompanyId" asp-items="@companySelectList" class="form-control"></select>
				</div>
				<div class="col-md-2">
					<label asp-for="CategoryId" class="control-label">Категория</label>
					<select asp-for="CategoryId" asp-items="@categorySelectList" class="form-control"></select>
				</div>
				<div class="col-md-2">
					<label asp-for="Period" class="control-label">Период</label>
					<select asp-for="Period" asp-items="@periodsSelectList" class="form-control"></select>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<input style="margin-top: 32px" type="submit" value="Применить" class="btn btn-default" />
					</div>
				</div>
			</div>
		</form>
			<div class="row">
				<div class="col-md-6">				
					<div class="row">		
							<h3 style="margin-right: 10px">Компании</h3>
							<a href="/company/addcompany" type="button" class="btn btn-success">Добавить</a>			
					</div>
					@try
					{
						var company = (CompanyViewModel)ViewBag.Company;
						@if (ViewBag.Companies != null && ((List<CompanyViewModel>)ViewBag.Companies).Any())
						{
					<table class="table table-striped table-hover" style="margin-top: 5px">
						<thead>
							<tr>
								<th>
									Название
								</th>
								<th>
									Сайт
								</th>
								<th>
									Категория
								</th>
							</tr>
						</thead>
						<tbody>
							@if (!String.IsNullOrWhiteSpace(Model.CompanyId))
							{

								<tr>
									<td><a href="/company/edit/@company.Id">@company.Name</a></td>
									<td><a href=@company.Site> @company.Site</a></td>
									<td><a href="/category/edit/@company.CategoryId"> @((company.CategoryId != null && categoryDictionary.ContainsKey(company.CategoryId)) ? categoryDictionary[company.CategoryId] : "...")</a></td>
								</tr>
							}
							else
							{
								@foreach (var item in (IEnumerable<AdtMailer.Infrastructure.Models.CompanyViewModels.CompanyViewModel>)ViewBag.Companies)
								{
									var color = "white";

									if ((int)item.Status == 0)
									{
										color = "background-color: ghostwhite;";
									}
									if ((int)item.Status == 1)
									{
										color = "background-color: gainsboro;";
									}
									if ((int)item.Status == 2)
									{
										color = "background-color: darkseagreen;";
									}
									if ((int)item.Status == 3)
									{
										color = "background-color: tomato;";
									}
									if ((int)item.Status == 4)
									{
										color = "background-color: gold;";
									}
								<tr style="@color">
									<td style="color: gainsboro"><a href="/company/edit/@item.Id">@Html.DisplayFor(modelItem => item.Name)</a></td>
									<td><a href=@item.Site> @item.Site</a></td>
									<td><a href="/category/edit/@item.CategoryId"> @((item.CategoryId != null && categoryDictionary.ContainsKey(item.CategoryId)) ? categoryDictionary[item.CategoryId] : "...")</a></td>
								</tr>
								}}

						</tbody>
					</table>
						}
						else
						{
							<p>Пока не добавлено ни одной компании</p>


						}
					}
					catch (Exception ex)
					{					
							<p>Пока не добавлено ни одной компании @ex.Message</p>
					}
				</div>
				<div class="col-md-6">
					<div class="row">				
							<h3 style="margin-right: 10px">Контакты</h3>
							<a href="/contact/AddContact/" type="button" class="btn btn-success">Добавить</a>						
					</div>
					@try
					{
						@if (ViewBag.Contacts != null && ((List<ContactViewModel>)ViewBag.Contacts).Any())
						{
					<table class="table table-striped table-hover" style="margin-top: 5px">
						<thead>
							<tr>
								<th>
									Имя
								</th>
								<th>
									Почта
								</th>
								<th>
									Компания
								</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in (IEnumerable<AdtMailer.Infrastructure.Models.CompanyViewModels.ContactViewModel>)ViewBag.Contacts)
							{
								string str = "...";
								var color = "white";

								if ((int)item.Status == 0)
								{
									color = "background-color: ghostwhite;";
								}
								if ((int)item.Status == 1)
								{
									color = "background-color: gainsboro;";
								}
								if ((int)item.Status == 2)
								{
									color = "background-color: darkseagreen;";
								}
								if ((int)item.Status == 3)
								{
									color = "background-color: tomato;";
								}
								if ((int)item.Status == 4)
								{
									color = "background-color: gold;";
								}

								if (!String.IsNullOrWhiteSpace(item.Emails) && item.Emails.Length > 20) { str = item.Emails.Substring(0, 20); }
								if (!String.IsNullOrWhiteSpace(item.Emails) && item.Emails.Length <= 20) { str = item.Emails; }
								if (String.IsNullOrWhiteSpace(item.Emails)) { str = "..."; }
								<tr style="@color">
									<td><a href="/contact/update/@item.Id">@Html.DisplayFor(modelItem => item.Name)</a></td>
									<td>@Html.ActionLink(str, "Create", "Message", new { ApplicationUserId = item.Id, CompanyId = item.CompanyId, Emails = item.Emails })</td>
									<td><a href="/company/edit/@item.CompanyId"> @(item.CompanyId != null && (companyDictionary.ContainsKey(item.CompanyId)) ? companyDictionary[item.CompanyId] : "...")</a></td>
								</tr>
							}

						</tbody>
					</table>
						}
						else
						{
							<p>Пока не добавлено ни одного контакта</p>

						}
					}
					catch(Exception ex)
					{
							<p>Пока не добавлено ни одного контакта @ex.Message</p>
					}
				</div>
			
			</div>
	</div>
</body>

