﻿@model AdtMailer.Infrastructure.Models.ProjectViewModels.ProjectViewModel
@using AdtMailer.DataTransferObject.Enums;
@using AdtMailer.Infrastructure.Models.CompanyViewModels
@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_LayoutFeed.cshtml";
	var companyDictionary = (Dictionary<string, string>)ViewBag.CompanyDictionary;
	var companies = new List<CompanyViewModel>() { new CompanyViewModel() { Id = "", Name = "Без компании" } };
	companies.AddRange(companyDictionary.Select(x => new CompanyViewModel() { Id = x.Key, Name = x.Value })); 
	var companySelectList = new SelectList(companies, "Id", "Name");
}

<h3>Проект</h3>
<div>
	<a asp-action="Index">К списку проектов</a>
</div>
<hr />
<div class="row">
	<div class="col-md-6">
		<form asp-action="Edit" method="post" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group" style="display: none">
				<label asp-for="Id" class="control-label"></label>
				<input asp-for="Id" class="form-control" />
				<span asp-validation-for="Id" class="text-danger"></span>
			</div>
			<div class="form-group" style="display: none">
				<label asp-for="ApplicationUserId" class="control-label"></label>
				<input asp-for="ApplicationUserId" class="form-control" />
				<span asp-validation-for="ApplicationUserId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Name" class="control-label">Название</label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CompanyId" class="control-label">Компания</label>
				<select asp-for="CompanyId" asp-items="@companySelectList" class="form-control"></select>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label">Описание</label>
				<textarea asp-for="Description" rows="3" class="form-control"></textarea>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group" style="display: none">
				<label asp-for="DateCreated" class="control-label"></label>
				<input asp-for="DateCreated" class="form-control" />
				<span asp-validation-for="DateCreated" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Status" class="control-label">Статус</label>
				<select asp-for="Status" asp-items="Html.GetEnumSelectList<ProjectStatus>()" class="form-control"></select>
			</div>
			<div class="form-group">
				<label asp-for="StartDate" class="control-label">Дата начала</label>
				<input asp-for="StartDate" type="date" class="form-control" />
				<span asp-validation-for="StartDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="EndDate" class="control-label">Дата окончания</label>
				<input asp-for="EndDate" type="date" class="form-control" />
				<span asp-validation-for="EndDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Payment" class="control-label">Стоимость</label>
				<input asp-for="Payment" class="form-control" />
				<span asp-validation-for="Payment" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Prepayment" class="control-label">Аванс</label>
				<input asp-for="Prepayment" class="form-control" />
				<span asp-validation-for="Prepayment" class="text-danger"></span>
			</div>
			@if (Model.MetaFiles != null)
			{
			<div class="form-group" style="display: none">
				<ul>
					@for (int i = 0; i < Model.MetaFiles.Count; i++)
					{
					<li>
						<label asp-for="@Model.MetaFiles[i].Name"></label>
						<input asp-for="@Model.MetaFiles[i].Name" />
						<label asp-for="@Model.MetaFiles[i].Id"></label>
						<input asp-for="@Model.MetaFiles[i].Id" />
						<label asp-for="@Model.MetaFiles[i].ContentType"></label>
						<input asp-for="@Model.MetaFiles[i].ContentType" />
						@* Or the old html helpers if you prefer
		@Html.DisplayFor(model => model.Requests[i].Name)
						*@
					</li>
					}
				</ul>				
			</div>
			}
			<div class="form-group">
				<label asp-for="Files" class="control-label">Прикрепите один или несколько файлов:</label>
				<div class="row">
					<input type="file" name="files" multiple />
					<input type="file" name="files" multiple />
					<input type="file" name="files" multiple />
				</div>
			</div>
			<div class="form-group">
				@if (Model.MetaFiles != null)
				{
					foreach (var f in Model.MetaFiles)
					{
						<table class="table" style="margin-top: 5px">
							<tbody>
								<tr>
									<td>								
										<a href="/project/GetFile/@f.Id">@f.Name</a>
									</td>
									<td>
										<a href="#">Удалить</a>
									</td>
								</tr>
							</tbody>
						</table>
					}
				}
			</div>

			<div class="form-group">
				<input type="submit" value="Сохранить" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>



