﻿@model AdtMailer.DataTransferObject.Entities.Project.Filter
@using AdtMailer.DataTransferObject.Enums;
@using AdtMailer.Web.Models.Entities;

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_LayoutFeed.cshtml";
	var companyDictionary = (Dictionary<string, string>)ViewBag.CompanyDictionary;
	var projects = (IEnumerable<AdtMailer.Infrastructure.Models.ProjectViewModels.ProjectViewModel>)ViewBag.Projects;


	var statuses = new List<EntityPair>()
	{
		new EntityPair() { Id = null, Name = "Все" },
		new EntityPair() { Id = 0, Name = "Новый" },
		new EntityPair() { Id = 1, Name = "Ожидаем ответа" },
		new EntityPair() { Id = 2, Name = "Ожидают ответа" },
		new EntityPair() { Id = 3, Name = "В работе" },
		new EntityPair() { Id = 4, Name = "Проверка" },
		new EntityPair() { Id = 4, Name = "Завершен" },
		new EntityPair() { Id = 4, Name = "Отменен" },
	};
	var statusSelectList = new SelectList(statuses, "Id", "Name");
}

<div class="row">
	<h2 style="margin-right: 10px">Проекты</h2>
	<a href="/project/create" type="button" class="btn btn-success" style="margin-top: 5px">Добавить</a>
</div>
<form asp-action="Index">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="row">
		<div class="col-md-2">
			<div class="form-group">
				<label asp-for="Status" class="control-label">Статус</label>
				<select asp-for="Status" asp-items="@statusSelectList" class="form-control"></select>
			</div>
		</div>	
		<div class="col-md-4">
			<div class="form-group">
				<input style="margin-top: 32px" type="submit" value="Применить" class="btn btn-default" />
			</div>
		</div>
	</div>
</form>
<table class="table" style="margin-top: 5px">
	<thead>
		<tr>
			<th>
				Название
			</th>
			<th>
				Компания
			</th>
			<th>
				Создан
			</th>
			<th>
				Статус
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in projects)
		{

			var color = "";

			if (item.Status == ProjectStatus.New)
			{
				color = "background-color: darkgray;";
			}
			if (item.Status == ProjectStatus.Theiranswer)
			{
				color = "background-color: #DAD871;";
			}
			if (item.Status == ProjectStatus.Ouranswer)
			{
				color = "background-color: #9ACEEB;";
			}
			if (item.Status == ProjectStatus.InProgress)
			{
				color = "background-color: #FFDB58;";
			}
			if (item.Status == ProjectStatus.Verification)
			{
				color = "background-color: #FFAE42;";
			}
			if (item.Status == ProjectStatus.Completed)
			{
				color = "background-color: #89AC76;";
			}
			if (item.Status == ProjectStatus.Canceled)
			{
				color = "background-color: red;";
			}

			<tr style="@color">
				<td>
					@Html.ActionLink(item.Name, "Edit", new { id = item.Id })
				</td>
				<td>
					<a href="/company/edit/@item.CompanyId"> @(item.CompanyId != null && (companyDictionary.ContainsKey(item.CompanyId)) ? companyDictionary[item.CompanyId] : "...")</a>
				</td>
				<td>
					@item.DateCreated.ToShortDateString()
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Status)
				</td>
				<td>
					@Html.ActionLink("Удалить", "Delete", new { id = item.Id })
				</td>
			</tr>
		}
	</tbody>
</table>
