﻿@model AdtMailer.Infrastructure.Models.CompanyViewModels.ContactViewModel
@using AdtMailer.DataTransferObject.Enums
@using AdtMailer.Infrastructure.Models.CompanyViewModels
@{
	ViewData["Title"] = "AddContact";
	Layout = "~/Views/Shared/_LayoutFeed.cshtml";
	var companyDictionary = (Dictionary<string, string>)ViewBag.CompanyDictionary;
	var companies = new List<CompanyViewModel>() { new CompanyViewModel() { Id = "", Name = "Без компании" } };
	companies.AddRange(companyDictionary.Select(x => new CompanyViewModel() { Id = x.Key, Name = x.Value }));
	var companySelectList = new SelectList(companies, "Id", "Name");
}

<h4>Новый контакт</h4>
<div>
	<a asp-action="Index/@ViewBag.CompanyId">К списку контактов</a>
</div>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="AddContact">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Name" class="control-label">Имя</label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CompanyId" class="control-label">Компания</label>
				<select asp-for="CompanyId" asp-items="@companySelectList" class="form-control"></select>
			</div>
			<div class="form-group">
				<label asp-for="Status" class="control-label">Статус</label>
				<select asp-for="Status" asp-items="Html.GetEnumSelectList<ClientStatus>()" class="form-control"></select>
			</div>
			<div class="form-group">
				<label asp-for="Position" class="control-label">Должность</label>
				<input asp-for="Position" class="form-control" />
				<span asp-validation-for="Position" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Emails" class="control-label">Почта</label>
				<input asp-for="Emails" class="form-control" placeholder="Введите почтоные ящики через запятую" />
				<span asp-validation-for="Emails" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Phone" class="control-label">Телефон</label>
				<input asp-for="Phone" class="form-control" />
				<span asp-validation-for="Phone" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Skype" class="control-label">Skype</label>
				<input asp-for="Skype" class="form-control" />
				<span asp-validation-for="Skype" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Social" class="control-label">Социальные сети</label>
				<input asp-for="Social" class="form-control" />
				<span asp-validation-for="Social" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label">Примечание</label>
				<textarea asp-for="Description" rows="3" class="form-control"></textarea>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Сохранить" class="btn btn-default" />
			</div>
		</form>
    </div>
</div>




