﻿@model IEnumerable<AdtMailer.Infrastructure.Models.CompanyViewModels.ContactViewModel>

@{
	ViewData["Title"] = "All";
	Layout = "~/Views/Shared/_LayoutFeed.cshtml";
	var companyDictionary = (Dictionary<string, string>)ViewBag.CompanyDictionary;
}

<div class="row">	
		<h2 style="margin-right: 10px">Контакты</h2>
		<a href="/contact/AddContact/@ViewBag.CompanyId" type="button" class="btn btn-success" style="margin-top: 5px">Добавить</a>
</div>
<table class="table" style="margin-top: 5px">
    <thead>
		<tr>
			<td>
				Имя
			</td>
			<td>
				Почта
			</td>
			<td>
				Телефон
			</td>
			<td>
				Должность
			</td>
			<td>
				Добавлен
			</td>
			<td>
				Статус
			</td>
			<td>
				Компания
			</td>
			<th></th>
		</tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
	string str = "...";
	var color = "white";

	if ((int)item.Status == 0)
	{
		color = "background-color: ghostwhite;";
	}
	if ((int)item.Status == 1)
	{
		color = "background-color: gainsboro;";
	}
	if ((int)item.Status == 2)
	{
		color = "background-color: darkseagreen;";
	}
	if ((int)item.Status == 3)
	{
		color = "background-color: tomato;";
	}
	if ((int)item.Status == 4)
	{
		color = "background-color: gold;";
	}

	if (!String.IsNullOrWhiteSpace(item.Emails) && item.Emails.Length > 20) { str = item.Emails.Substring(0, 20); }
	if (!String.IsNullOrWhiteSpace(item.Emails) && item.Emails.Length <= 20) { str = item.Emails; }
	if (String.IsNullOrWhiteSpace(item.Emails)) { str = "..."; }
		<tr style="@color">
			<td>
				<a href="/contact/update/@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
			</td>
			<td>				
				@Html.ActionLink(str, "Create", "Message", new { ApplicationUserId = item.Id, CompanyId = item.CompanyId, Emails = item.Emails })
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Phone)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Position)
			</td>
			<td>
				@item.DateCreated.ToShortDateString()
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Status)
			</td>
			<td>
				<a href="/company/edit/@item.CompanyId"> @(item.CompanyId != null && (companyDictionary.ContainsKey(item.CompanyId)) ? companyDictionary[item.CompanyId] : "...")</a>
			</td>
			<td>
				@Html.ActionLink("Удалить", "Delete", new { contactId = item.Id })
			</td>
		</tr>
}
    </tbody>
</table>
