﻿@model IEnumerable<AdtMailer.Infrastructure.Models.CompanyViewModels.ContactViewModel>
@using AdtMailer.DataTransferObject.Enums
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_LayoutFeed.cshtml";
	var company = ViewBag.Company;
	var category = ViewBag.Category;
}

<h4>Категория: <a href="/company/companies/@category?.Id">@category?.Name</a> >> Компания: @Html.ActionLink((string)company.Name, "Edit", "Company", new { id = company.Id }) >> Контакты</h4>

<div class="row">
	<div class="col-md-2" style="margin-top: 5px">
		<p>
			<a href="/contact/AddContact/@ViewBag.CompanyId" type="button" class="btn btn-success">Добавить контакт</a>
		</p>
	</div>
	<div class="col-md-2" style="margin-top: 5px">
		<p>
			<a href="#" type="button" class="btn btn-success">Создать рассылку</a>
		</p>
	</div>
</div>
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>
				Имя
			</th>
			<th>
				Должность
			</th>
			<th>
			    Почта
			</th>
			<th>
				Добавлен
			</th>
			<th>
				Статус
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			string str = "...";

			if (!String.IsNullOrWhiteSpace(item.Emails) && item.Emails.Length > 20) { str = item.Emails.Substring(0, 20); }
			if (!String.IsNullOrWhiteSpace(item.Emails) && item.Emails.Length <= 20) { str = item.Emails; }
			if (String.IsNullOrWhiteSpace(item.Emails)) { str = "..."; }
			<tr>
				<td>				
					<a href="/contact/update/@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Position)
				</td>
				<td>
					@Html.ActionLink(str, "Create", "Message", new { ApplicationUserId = item.Id, CompanyId = item.CompanyId, Emails = item.Emails })
				</td>
				<td>
					@item.DateCreated.ToShortDateString()
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Status)
				</td>
				<td>				
					@Html.ActionLink("Удалить", "Delete", new { contactId = item.Id, companyId = item.CompanyId })
				</td>
			</tr>
		}
	</tbody>
</table>
