﻿@model AdtMailer.Infrastructure.Models.CompanyViewModels.ContactViewModel
@using AdtMailer.DataTransferObject.Enums
@using AdtMailer.Infrastructure.Models.CompanyViewModels

@{
	ViewData["Title"] = "Update";
	Layout = "~/Views/Shared/_LayoutFeed.cshtml";
	var company = ViewBag.Company;
	var category = ViewBag.Category;

	var companyDictionary = (Dictionary<string, string>)ViewBag.CompanyDictionary;
	var companies = new List<CompanyViewModel>() { new CompanyViewModel() { Id = "", Name = "Без компании" } };
	companies.AddRange(companyDictionary.Select(x => new CompanyViewModel() { Id = x.Key, Name = x.Value }));
	var companySelectList = new SelectList(companies, "Id", "Name");
}

@{if (company != null && category != null)
	{
		<h4>Категория: <a href="/category/edit/@category.Id">@category.Name</a> >> Компания: <a href="/company/edit/@company.Id">@company.Name</a> >> @Model.Name</h4>
	}
	else
	{
		<h3>@Model.Name</h3>
	}
}
<div>
	<a asp-action="Index/@Model.CompanyId">К списку сотрудников</a>
</div>
@Html.ActionLink("Сообщение", "Create", "Message",  new { ApplicationUserId = Model.Id, CompanyId = Model.CompanyId }, new { @type = "button", @class= "btn btn-success", @style = "margin-top: 5px" })
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Update">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group" style="display: none">
				<label asp-for="Id" class="control-label"></label>
				<input asp-for="Id" class="form-control" />
				<span asp-validation-for="Id" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Name" class="control-label">Имя</label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CompanyId" class="control-label">Компания</label>
				<select asp-for="CompanyId" asp-items="@companySelectList" class="form-control"></select>
			</div>
			<div class="form-group">
				<label asp-for="Status" class="control-label">Статус</label>
				<select asp-for="Status" asp-items="Html.GetEnumSelectList<ClientStatus>()" class="form-control"></select>
			</div>
			<div class="form-group">
				<label asp-for="Position" class="control-label">Должность</label>
				<input asp-for="Position" class="form-control" />
				<span asp-validation-for="Position" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Emails" class="control-label">Почта</label>
				<input asp-for="Emails" class="form-control" />
				<span asp-validation-for="Emails" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Phone" class="control-label">Телефон</label>
				<input asp-for="Phone" class="form-control" />
				<span asp-validation-for="Phone" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Skype" class="control-label">Skype</label>
				<input asp-for="Skype" class="form-control" />
				<span asp-validation-for="Skype" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Social" class="control-label">Социальные сети</label>
				<input asp-for="Social" class="form-control" />
				<span asp-validation-for="Social" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label">Примечание</label>
				<textarea asp-for="Description" rows="3" class="form-control"></textarea>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Сохранить" class="btn btn-default" />
				<a style="margin-left: 10px" href="/contact/delete?contactId=@Model.Id" type="button" class="btn btn-danger">Удалить</a>
			</div>
		</form>
	</div>
</div>


