﻿@model AdtMailer.Infrastructure.Models.TasksViewModel.UserTaskViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutFeed.cshtml";
}

<h3>Задача</h3>
<div>
	<a asp-action="Index">К списку задач</a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group" style="display: none">
				<label asp-for="Id" class="control-label"></label>
				<input asp-for="Id" class="form-control" />
				<span asp-validation-for="Id" class="text-danger"></span>
			</div>
			<div class="form-group" style="display: none">
				<label asp-for="ApplicationUserId" class="control-label"></label>
				<input asp-for="ApplicationUserId" class="form-control" />
				<span asp-validation-for="ApplicationUserId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Name" class="control-label">Название</label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label">Описание</label>
				<textarea asp-for="Description" rows="3" class="form-control"></textarea>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Date" class="control-label">Дедлайн</label>
				<input asp-for="Date" type="date" class="form-control" />
				<span asp-validation-for="Date" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Сохранить" class="btn btn-default" />
			</div>
		</form>
    </div>
</div>

