﻿@model IEnumerable<AdtMailer.Infrastructure.Models.TasksViewModel.UserTaskViewModel>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_LayoutFeed.cshtml";
}

<div class="row">
	<h2 style="margin-right: 10px">Задачи</h2>
	<a href="/task/create" type="button" class="btn btn-success" style="margin-top: 5px">Добавить</a>
</div>
<table class="table" style="margin-top: 5px">
	<thead>
		<tr>
			<th>
				Название
			</th>
			<th>
				Описание
			</th>
			<th>
				Дедлайн
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Date)
				</td>
				<td>
					@*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
						@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
						@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
				</td>
			</tr>
		}
	</tbody>
</table>
