﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

.title-widget {
	color: #7a7a7a;
}

b, p {
	color: #7a7a7a;
}

.copyright {
	color: #7a7a7a;
}

.navbar-fixed-bottom {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
	background-color: #f2f2f2;
	min-height: 100%;
	position: relative;
}

.footer {
	font-size: 12px;
	line-height: 1.66667;
	font-weight: 400;
	letter-spacing: normal;
	background-color: #f2f2f2;
	color: #666;
	min-width: 1024px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.container1 {
	text-align: left;
}

.title-widget {
	color: #7a7a7a;
	padding-left: 39px;
}

.end {
	font-weight: lighter;
}




.head {
	background: linear-gradient(to top, #404040, #656565);
}

.navbar-inverse {
	background: linear-gradient(to top, #404040, #656565);
	height: 55px;
}

.color {
	color: white;
}

