﻿@model AdtMailer.Infrastructure.Models.MailViewModels.MailViewModel

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_LayoutFeed.cshtml";
}
<h4>Новое письмо</h4>
<div>
	<a asp-action="Index">К списку сообщений</a>
</div>
<hr />
<div>
	<form method="post" enctype="multipart/form-data" asp-controller="Message" asp-action="Send">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="row">
			<div class="form-group">
				<label asp-for="Emails" class="control-label">Почтовый адрес</label>
				<textarea asp-for="Emails" rows="3" class="form-control"></textarea>
				<span asp-validation-for="Emails" class="text-danger"></span>
			</div>
			<div class="form-group" style="margin-left: 20px">
				<label asp-for="From" class="control-label">От кого</label>
				<textarea asp-for="From" rows="3" class="form-control"></textarea>
				<span asp-validation-for="From" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label>Массовая рассылка</label>
			<select name="DeliveryType" class="form-control">
				<option value="0" selected>Всем отдельное письмо</option>
				<option value="1">Отправить в подписке</option>
			</select>
		</div>

		<div class="form-group">
			<label asp-for="Subject" class="control-label">Тема письма</label>
			<input asp-for="Subject" class="form-control" />
			<span asp-validation-for="Subject" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Body" class="control-label">Письмо</label>
			<textarea asp-for="Body" rows="6" class="form-control"> </textarea>
			<span asp-validation-for="Body" class="text-danger"></span>
		</div>

		<div class="form-group" style="display: none">
			<label asp-for="TemplateId" class="control-label"></label>
			<input asp-for="TemplateId" class="form-control" />
			<span asp-validation-for="TemplateId" class="text-danger"></span>
		</div>
		<div class="form-group" style="display: none">
			<label asp-for="ApplicationUserId" class="control-label"></label>
			<input asp-for="ApplicationUserId" class="form-control" />
			<span asp-validation-for="ApplicationUserId" class="text-danger"></span>
		</div>
		<div class="form-group" style="display: none">
			<label asp-for="Id" class="control-label"></label>
			<input asp-for="Id" class="form-control" />
			<span asp-validation-for="Id" class="text-danger"></span>
		</div>
		<div class="form-group" style="display: none">
			<label asp-for="CompanyId" class="control-label"></label>
			<input asp-for="CompanyId" class="form-control" />
			<span asp-validation-for="CompanyId" class="text-danger"></span>
		</div>
		<div class="form-group" style="display: none">
			<label asp-for="CategoryId" class="control-label"></label>
			<input asp-for="CategoryId" class="form-control" />
			<span asp-validation-for="CategoryId" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="Files" class="control-label">Прикрепите один или несколько файлов:</label>
			<div class="row">
				<input type="file" name="files" multiple />
				<input type="file" name="files" multiple />
				<input type="file" name="files" multiple />
			</div>
		</div>
		<div class="form-group">
			<div class="form-check">
				<input asp-for="AddPixel" type="checkbox" class="form-check-input" id="exampleCheck1">
				<label class="form-check-label" for="exampleCheck1">Отслеживать открытие письма</label>
			</div>
		</div>

		<div class="form-group">
			<input type="submit" value="Отправить" class="btn btn-default" />
		</div>
	</form>
</div>



