﻿@model IEnumerable<AdtMailer.Infrastructure.Models.MailViewModels.MailViewModel>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_LayoutFeed.cshtml";
}

<div class="row">
	<div class="col-md-4">
		<h2 style="margin-right: 10px">Письма</h2>
		<a href="/message/create" type="button" class="btn btn-success" style="margin-top: 5px">Создать</a>
	</div>
	<div class="col-md-4">
		<h2 style="margin-right: 10px">Шаблоны</h2>
		<a href="" type="button" class="btn btn-success" style="margin-top: 5px">Создать</a>
	</div>
	<div class="col-md-4">
		<h2 style="margin-right: 10px">Рассылки</h2>
		<a href="" type="button" class="btn btn-success" style="margin-top: 5px">Создать</a>
	</div>
</div>
<table class="table" style="margin-top: 5px">
	<thead>
		<tr>
			<th>
				Почта
			</th>
			<th>
				Отправитель
			</th>
			<th>
				Тема
			</th>
			<th>
				Статус
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{

			var str = "Отправлено";
			var style = "red";

			if (item.IsRead)
			{
				str = "Прочитано";
				style = "green";
			}

			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Emails)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.From)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Subject)
				</td>
				<th style="color: @style">
					@str
				</th>
				<td>
					@*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
						@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
						@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
				</td>
			</tr>
		}
	</tbody>
</table>
