﻿
@{
	ViewData["Title"] = "Index";
	Layout = "_LayoutFeed";
}

@{
	ViewBag.Title = "Index";
}

<div>
	<form method="post" enctype="multipart/form-data" asp-controller="Message" asp-action="Send">

		<div class="form-group">
			<div class="row">
				<div class="col-md-3">
					<label for="exampleInputEmail1">Почтовый адрес</label>
					<textarea type="text/javascript" class="form-control" name="emails" id="exampleTextarea" rows="4" placeholder="почтовые ящики"></textarea>
					<small id="emailHelp" class="form-text text-muted">Введите почтовые ящики через запятую.</small>
				</div>
				<div class="col-md-3">
					<label for="exampleInputEmail1">От кого</label>
					<textarea type="text/javascript" class="form-control" name="from" id="exampleTextarea" rows="1" placeholder="имя отправителя"></textarea>
					<small id="emailHelp" class="form-text text-muted">Введите имя отправителя.</small>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label>Массовая рассылка</label>
			<select name="deliveryType">
				<option value="0" selected>Всем отдельное письмо</option>
				<option value="1">Отправить в подписке</option>
			</select>
		</div>

		<div class="form-group">
			<label for="exampleInputEmail1">Тема письма</label>
			<input type="text" name="subject" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="тема письма">
			<small id="emailHelp" class="form-text text-muted">Только нормальную тему письма придумайте.</small>
		</div>

		<div class="form-group">
			<label for="exampleTextarea">Тело письма</label>
			<textarea type="text/javascript" class="form-control" name="body" id="exampleTextarea" rows="8"></textarea>
		</div>
		<div class="form-group">
			<div class="col-md-10">
				<p>Upload one or more files using this form:</p>
				<input type="file" name="files" multiple />
				<input type="file" name="files" multiple />
				<input type="file" name="files" multiple />

			</div>
		</div>

		<div class="form-check">
			<label class="form-check-label">
				<input type="checkbox" class="form-check-input">
				Отслеживать открытие письма
			</label>
		</div>
		<button type="submit" class="btn btn-primary" style="margin-bottom: 10px">Отправить</button>
	</form>
	<div id="loading" style="display:none; color:Red; font-weight:bold;">
		<p>Отправляем..</p>
	</div>
	<div id="results"></div>
</div>