﻿@model AdtMailer.Infrastructure.Models.NotificationViewModels.NotificationViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutFeed.cshtml";
}

<h3>Нотификация</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Название</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Описание</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificationDate" class="control-label">Время напоминания</label>
                <input asp-for="NotificationDate" class="form-control" />
                <span asp-validation-for="NotificationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">К списку нотификаций</a>
</div>

