﻿@model AdtMailer.Infrastructure.Models.CompanyViewModels.CompanyViewModel
@using AdtMailer.Infrastructure.Models.CompanyViewModels;
@using AdtMailer.DataTransferObject.Enums;

@{
		ViewData["Title"] = "AddCompany";
		Layout = "_LayoutFeed";

		var categoryDictionary = (Dictionary<string, string>)ViewBag.CategoryDictionary;

		var categories = new List<CategoryViewModel>() { new CategoryViewModel() { Id = "", Name = "Без категории" } };
		categories.AddRange(categoryDictionary.Select(x => new CategoryViewModel() { Id = x.Key, Name = x.Value }));
		var categorySelectList = new SelectList(categories, "Id", "Name");		
}

<h3>Новая компания</h3>

<div>
	<a href="/company/companies/@Model.CategoryId">К списку компаний</a>
</div>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="AddCompany">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Name" class="control-label">Название</label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CategoryId" class="control-label">Категория</label>
				<select asp-for="CategoryId" asp-items="@categorySelectList" class="form-control"></select>
			</div>
			<div class="form-group">
				<label asp-for="Status" class="control-label">Статус</label>
				<select asp-for="Status" asp-items="Html.GetEnumSelectList<ClientStatus>()" class="form-control"></select>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label">Примечание</label>
				<textarea asp-for="Description" rows="3" class="form-control"></textarea>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Site" class="control-label">Сайт</label>
				<input asp-for="Site" class="form-control" />
				<span asp-validation-for="Site" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Сохранить" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>

