﻿@model IEnumerable<AdtMailer.Infrastructure.Models.CompanyViewModels.CompanyViewModel>

@{
	ViewData["Title"] = "Companies";
	Layout = "_LayoutFeed";
	var category = ViewBag.Category;
}

<h4>Категория: <a href="/category/edit/@category.Id">@category.Name</a> >> Компании</h4>

<div class="row">
	<div class="col-md-2" style="margin-top: 5px">
		<p>
			<a href="/company/AddCompany/@ViewBag.CategoryId" type="button" class="btn btn-success">Добавить компанию</a>
		</p>
	</div>
	<div class="col-md-2" style="margin-top: 5px">
		<p>
			<a href="#" type="button" class="btn btn-success">Создать рассылку</a>
		</p>
	</div>
</div>
<table class="table table-striped table-hover">
    <thead>
		<tr>
			@*<th>
			@Html.DisplayNameFor(model => model.Id)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.CategoryId)
		</th>*@
			<th>
				Название
			</th>
			<th>
				Сайт
			</th>
			<th>
				Описание
			</th>
			<th>
				Дата создания
			</th>
			<th></th>
		</tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
		<tr>
			@{ var site = "//" + item.Site;}
			<td>
				@Html.ActionLink(item.Name, "Index", "Contact", new { id = item.Id })
			</td>
			<td>
				<a href = @item.Site> @item.Site</a>
            </td>
			<td>
				@(item.Description?.Length > 20 ? item.Description.Substring(0, 20) + "..." : item.Description)
			</td>
			<td>
				@item.DateCreated.ToShortDateString()
			</td>
			<td>
				@Html.ActionLink("Открыть", "Edit", new { id = item.Id }) |
				@Html.ActionLink("Удалить", "Delete", new { id = item.Id })
			</td>
		</tr>
}
    </tbody>
</table>
