﻿@model AdtMailer.Infrastructure.Models.CompanyViewModels.CompanyViewModel
@using AdtMailer.Infrastructure.Models.CompanyViewModels;
@using AdtMailer.DataTransferObject.Enums;

@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_LayoutFeed.cshtml";
	var contacts = (IEnumerable<ContactViewModel>)ViewBag.Contacts;
	var category = (CategoryViewModel)ViewBag.Category;

	var categoryDictionary = (Dictionary<string, string>)ViewBag.CategoryDictionary;

	var categories = new List<CategoryViewModel>() { new CategoryViewModel() { Id = "", Name = "Без категории" } };
	categories.AddRange(categoryDictionary.Select(x => new CategoryViewModel() { Id = x.Key, Name = x.Value }));
	var categorySelectList = new SelectList(categories, "Id", "Name");
}


<h4>Категория: <a href="/company/companies/@category?.Id">@category?.Name</a> >> Компания: @Html.ActionLink(Model.Name, "Index", "Contact", new { id = Model.Id })</h4>

<div>
	<a href="/company/companies/@category?.Id">К списку компаний</a>
</div>
<div class="row">
	<a href="#" type="button" class="btn btn-success" style="margin-top: 5px">Создать рассылку</a>
</div>
<hr />
<div class="row">
	<div class="col-md-6">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group" style="display: none">
				<label asp-for="Id" class="control-label"></label>
				<input asp-for="Id" class="form-control" />
				<span asp-validation-for="Id" class="text-danger"></span>
			</div>
			<div class="form-group" style="display: none">
				<label asp-for="ApplicationUserId" class="control-label"></label>
				<input asp-for="ApplicationUserId" class="form-control" />
				<span asp-validation-for="ApplicationUserId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Name" class="control-label">Название</label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CategoryId" class="control-label">Категория</label>
				<select asp-for="CategoryId" asp-items="@categorySelectList" class="form-control"></select>
			</div>
			<div class="form-group">
				<label asp-for="Status" class="control-label">Статус</label>
				<select asp-for="Status" asp-items="Html.GetEnumSelectList<ClientStatus>()" class="form-control"></select>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label">Примечание</label>
				<textarea asp-for="Description" rows="3" class="form-control"></textarea>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Site" class="control-label">Сайт</label>
				<input asp-for="Site" class="form-control" />
				<span asp-validation-for="Site" class="text-danger"></span>
			</div>
			<div class="form-group" style="display: none">
				<label asp-for="DateCreated" class="control-label"></label>
				<input asp-for="DateCreated" class="form-control" />
				<span asp-validation-for="DateCreated" class="text-danger"></span>
			</div>
			<div class="form-group">
				<div class="row">
					<input type="submit" value="Сохранить" class="btn btn-default" />
					<a style="margin-left: 10px" href="/company/delete/@Model.Id" type="button" class="btn btn-danger">Удалить</a>
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-6">

		<table class="table table-striped table-hover">
			<tbody>
				<tr>
					<th>
						Сотрудники
					</th>
					<th>
						Почта
					</th>
					<th>
						<a href="/contact/addcontact/@Model.Id" type="button" class="btn btn-success">Добавить</a>
					</th>
				</tr>
				@foreach (var item in contacts)
				{
					string str = "...";

					if (!String.IsNullOrWhiteSpace(item.Emails) && item.Emails.Length > 20) { str = item.Emails.Substring(0, 20); }
					if (!String.IsNullOrWhiteSpace(item.Emails) && item.Emails.Length <= 20) { str = item.Emails; }
					if (String.IsNullOrWhiteSpace(item.Emails)) { str = "..."; }
					<tr>
						<td><a href="/contact/update/@item.Id">@Html.DisplayFor(modelItem => item.Name)</a></td>
						<td> @Html.ActionLink(str, "Create", "Message", new { ApplicationUserId = item.Id, CompanyId = item.CompanyId, Emails = item.Emails })</td>
						<td>@Html.ActionLink("Удалить", "Delete", "Contact", new { contactId = item.Id, companyId = item.CompanyId })</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>


