﻿@model IEnumerable<AdtMailer.Infrastructure.Models.CompanyViewModels.CategoryViewModel>

@{
	ViewData["Title"] = "Index";
	Layout = "_LayoutFeed";
}

<h2>Категории</h2>
<p>
    <a asp-action="AddCategory">Добавить категорию</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUserId)
            </th>*@
            <th>
               Название
            </th>
            <th>
                Описание
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
			<td>			
				@Html.ActionLink(item.Name, "Companies", new { id = item.Id })
			</td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
			<td>
				@*@Html.ActionLink("Открыть", "UpdateCategory", new { id = item.Id }) |
		@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@


				<a href="/category/edit/@item.Id">Редактировать</a> |
				@Html.ActionLink("Удалить", "DeleteCategory", new { id = item.Id })

			</td>
        </tr>
}
    </tbody>
</table>
