﻿@model AdtMailer.Infrastructure.Models.CompanyViewModels.CategoryViewModel

@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/Shared/_LayoutFeed.cshtml";
}

<h3>Изменить категорию</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>  
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
	<a asp-action="Index">К списку категорий</a>
</div>

